* {
    box-sizing: border-box;
    font-family: Arial;
}
body {
    display: flex;
    flex-direction: column;
    background: #00aa33;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
body > * {
    flex: 1;
}
#main_menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    padding: 1vmax;
    margin-bottom: 10vmax;
}
#footer_menu {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 10vmax;
    padding: 1vmax;
    background-color: #000000;
}
#footer_menu button {
    flex: 1;
    margin: 1vmax;
    color: #ffffff;
    background-color: #000000;
    background-image: linear-gradient(0deg, #00000077, #ffffff77);
    border: none;
    font-size: 3vmax;
}
.game-choice {
    display: flex;
    padding: 2vmax;
    margin: .5vmax;
    border-radius: 2vmax;
    box-shadow: inset 0px 0px 0px .5vmax #ffffff;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.game-choice:hover {
    background-color: rgba(255,255,255,0.2);
}
.game-choice .game-preview {
    width: 25vmin;
    height: 20vmin;
    margin-right: 2vmax;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    background-color: #ffffff;
    border: solid .2vmax #ffffff;
}
.game-choice .game-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vmax;
    color: #ffffff;
    font-size: 3vmax;
    user-select: none;
}
#game_frame {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: none;
}
#game_frame[src=""] {
    display: none;
}