:host {
    display: flex;
    flex-direction: column;
    cursor: grab;
    width: calc(8vw * var(--card-scale, 1));
    height: calc(12vw * var(--card-scale, 1));
    user-select: none;
}

#body {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    border-style: solid;
    border-width: 4px;
    border-color: #ffffff80;
    border-radius: calc(1vw * var(--card-scale, 1));
}

:host(.grabbed) {
    z-index: 1000;
    pointer-events: none;
    touch-action: none;

    ::slotted(sc-playingcard) {
        cursor: grabbing;
    }
}

:host(.grabbed.floating) {
    position: absolute;
}

:host(:not([type])) {

    #body {
        display: none;
    }

    ::slotted(sc-playingcard) {
        max-height: 2.5vmax;
    }
}

:host([type="deck"]) {
    ::slotted(sc-playingcard) {
        top: calc(12vw * var(--card-scale, 1) - .1vmax);
        max-height: 0.08vw;
        pointer-events: none;
    }
}

:host([type="column"]) {
    ::slotted(sc-playingcard) {
        max-height: 2.5vmax;
    }
}

:host([type="placeholder"]),
:host([type="goal"]) {
    ::slotted(sc-playingcard:not(:last-child)) {
        display: none;
    }
}

:host([type="drawer"]) {
    flex-direction: row;

    ::slotted(sc-playingcard) {
        max-width: .15vw;
    }

    ::slotted(sc-playingcard:nth-last-child(-n + 3)) {
        max-width: 2.5vw;
    }
}
