:host {
    display: block;
    width: calc(8vw * var(--card-scale, 1));
    height: calc(12vw * var(--card-scale, 1));
}

#card {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    width: calc(8vw * var(--card-scale, 1));
    height: calc(12vw * var(--card-scale, 1));
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #b4b4b4;
    border-radius: calc(1vw * var(--card-scale, 1));
    overflow: hidden;
    user-select: none;
}

#face {
    display: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
}

#back {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    overflow: hidden;
}

:host([revealed]:not([revealed="false"])) {

    #face {
        display: block;
    }

    #back {
        display: none;
    }
}
