* {
    box-sizing: border-box;
    font-family: Arial;
}
body {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    background: var(--background-color, #00aa33);
    overflow: hidden;
}
#playground {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100dvw;
    height: 100dvh;
    padding: 2vw;
}
#top-row {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: calc(8vw * var(--card-scale, 1)) calc(16vw * var(--card-scale, 1)) 10vw repeat(4, calc(8vw * var(--card-scale, 1)));
    grid-gap: 2vw;
    height: calc(12vw * var(--card-scale, 1));
}
#game-board {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(7, calc(8vw * var(--card-scale, 1)));
    grid-gap: 2vw;
    flex: 1;
    margin-top: 2vw;
}
#goal_spades,
#goal_hearts,
#goal_clubs,
#goal_diamonds {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
}
.game-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button {
    padding: 1vw;
    margin: .5vw;
    border-radius: 1vw;
    box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,0.7);
    color: rgba(255,255,255,0.7);
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    user-select: none;
    cursor: pointer;
    font-size: 2vw;
}
button.hide {
    display: none;
}
button:hover {
    background-color: rgba(255,255,255,0.2);
}
button:disabled {
    box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,0.2);
    color: rgba(255,255,255,0.2);
    cursor: default;
    background-color: transparent;
}
button:focus {
    outline: none;
}
#top-row button {
    width: 10vw;
}
#top-row button {
    width: 10vw;
}