:host {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    width: calc(8vw * var(--card-scale, 1));
    height: calc(12vw * var(--card-scale, 1));
    border-style: solid;
    border-width: 4px;
    border-color: #ffffff80;
    border-radius: calc(1vw * var(--card-scale, 1));
    user-select: none;
}

#body {
    display: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
    background-color: #ffffff;
}

:host(:not([type])) {
    ::slotted(cgc-playingcard) {
        display: none;
    }
}

:host([type="deck"]) {
    ::slotted(cgc-playingcard) {
        top: calc(12vw * var(--card-scale, 1) - .1vmax);
        max-height: 0.08vw;
        pointer-events: none;
    }
}

:host([type="column"]) {
    ::slotted(cgc-playingcard) {
        max-height: 2.5vmax;
    }
}

:host([type="placeholder"]),
:host([type="goal"]) {
    ::slotted(cgc-playingcard:not(:last-child)) {
        display: none;
    }
}

:host([type="drawer"]) {
    ::slotted(cgc-playingcard) {
        max-width: .15vw;
    }

    ::slotted(cgc-playingcard:nth-last-child(-n + 3)) {
        max-width: 2.5vw;
    }
}
